.Card {
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
  cursor: pointer;
}

.Card:hover {
  opacity: 0.5;
}

.Card .ant-card-body {
  padding: 0;
}

.Card.ant-card, .Card .ant-card-body, .Card .ant-row{
  height: 100%;
}

.Col {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  background-color: rgba(96, 96, 96, 0.06);
}

.Bold-Text {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #6b6b6b
}

.Small-Text {
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #767676;
}

.Clock-Icon {
  font-size: 16px;
}

.Fav-Icon {
  font-size: 26px;
}

.Filled-Icon {
  color: #DD0031;
}
