.Header-Container {
  height: 114px;
  margin: 0 0 70px;
  padding: 0 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

@media (min-width: 560px) {
  .Header-Container {
    padding: 0px 150px;
  }
}

.Radio-Button {
  width: 98px;
}

.Radio-Group.ant-radio-group label {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}
