.Dropdown {
  max-width: 240px;
  width: 100%;
  margin: 63px 114px 1px 0px;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
  background-color: #fff;
}

.Dropdown .ant-select-selection-placeholder, .Dropdown .ant-select-arrow {
  color: rgba(0, 0, 0, 0.85);
}
