@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:wght@400;500&display=swap');

body {
  font-family: Roboto;
}

.App {
  padding: 0 0 98px;
  background-color: #fcfcfc;
  height: 100%;
}

.mb38 {
  margin-bottom: 38px;
}

.mb6 {
  margin-bottom: 6px;
}

.mr8 {
  margin-right: 8px;
}

.ml10 {
  margin-left: 10px;
}

.mt96 {
  margin-top: 96px;
}

.p24 {
  padding: 24px;
}

.pb98 {
  padding-bottom: 98px;
}

.Text-Center {
  text-align: center;
}
